<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-4">
      <div class="mb-3">
        <%= form.label :name, style: "display: block", class:"form-label" %>
        <%= form.text_field :name, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :price, style: "display: block", class:"form-label" %>
        <%= form.number_field :price, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :size, style: "display: block", class:"form-label" %>
        <%= form.number_field :size, class:"form-control" %>
      </div>
    </div>
    <!-- Esto fue hecho por el profesor y chatgpt -->
    <div class="col-4">
      <div class="mb-3">
        <%= form.label :category_ids, "Categorías", style: "display: block", class: "mb-4" %>
        <%= form.collection_check_boxes :category_ids, @categories, :id, :name do |cb| %>
          <div class="form-check border rounded px-2 py-2 mb-2">
            <%= cb.label(class: "mb-1 fst-italic") { cb.check_box(class: "me-2" ) + cb.text } %> <br>
          </div>
        <% end %>
      </div>

      <div class="mt-4">
        <%= form.submit %>
      </div>
    </div>
  </div>


<% end %>
