<p style="color: green"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>Categorias</p>
  <ul>
    <%@product.categories.each do |o|%>
      <li><%= o.name %></li>
    <%end%>
  </ul>
<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
